* {
  box-sizing: border-box;
  font-family: Park Avenue;
}

body {
  background: rgb(66, 66, 66);
  place-items: center;
}

header{
  width: 400px;
  height: 350px;
  margin: 50px auto;
  border: 15px seashell dotted;
  padding: 30px;
  text-align: center;
  display: grid;
  place-items: center;
}

/* big Container */
div.big{
  background-color: rgb(129, 135, 135);
  padding: 5px;
  place-items: center;
}


/* colorful Containers */

div.blue{
  border: 5px solid rgb(190, 255, 255);
  padding: 5px;
  width: 77%;
}

div.green{
  border: 5px solid rgb(86, 171, 86);
  padding: 5px;
  margin: 20px;
  width: 63%;
}

div.yellow{
  border: 5px solid rgb(245, 248, 167);
  padding: 5px;
  margin: 20px;
  width: 82%;
}


/*dotted container*/
div.dotted_red{
  border: 6px lightpink dotted;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: block;
}

div.dotted_green {
  border: 5px lightgreen dotted;
  width: 100%;
  padding: 10px; 
}

/*invisible parent container around buttons to keep them neat and tidy*/
div.buttonparent{
  text-align: center;
  display: flex;
  justify-content: center;
}


.button {
  color: paleturquoise;
  border: 5px solid paleturquoise;
  display: inline-block;
  width: 100px;
  height: 80px;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  display: grid;
  place-items: center;
}

.button:hover {
  background-color: paleturquoise;
  border: 5px solid paleturquoise;
  color: #FFF;
}


/*only for main title*/
h1 {
  color: paleturquoise;
  font-size: 400%;
  text-align: center;
}

/*title for blog entry name*/
h2 {
  color: white;
  font-size: 200%;
  text-align: center;
}

h3 {
  color: peachpuff;
  font-family: Park Avenue;
  text-align: center;
}

h4 {
  color: lightgreen;
  font-family: Park Avenue;
  font-weight: bold;
}

h5{
  color: lightpink;
  font-size: 30px;
  font-family: Park Avenue;
}

p, ul, a{
  color: lightyellow;
  font-size: 20px;
  text-align: left;
  font-family: Park Avenue;
}


.nodisp{
  display: none;
};